/*Styles for digital prototytpes
Author:   Jason A. Clark
Version:  flexible layout 1.0 -  April 2018
----------------------------------------------- */
/* =global default settings
----------------------------------------------- */
html {box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
*,:before,:after {box-sizing: inherit;}
html,body {font-style:normal;font-variant:normal;font-stretch:normal;font-size:/*18px*/100%;line-height:1.5;
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
color:#333;-webkit-font-smoothing:antialiased;font-weight:400;width:100%;height:100%;margin:0;padding:0;background-color:#fff;
}
/* =element-specific settings
----------------------------------------------- */
.mainHeading {font-size:1.4em;padding:11px 0 2px 0;border-bottom:1px dotted #333;}
h2.mainHeading strong {padding:2px 5px;background-color:#ffff66;}
/* =links
----------------------------------------------- */
a[rel~="prev"]:before {content: "\00AB\ ";color:#666;}
a[rel~="next"]:after {content: " \00BB\ ";color:#666;}
/* =forms
----------------------------------------------- */
form label {cursor:pointer;font-size:1.3em;color:#2b4268;padding:10px 0 0 0;margin:0;}
input,select {vertical-align:middle;border-width:0;}
fieldset {border:0 none;}
form#searchBox {font-size:small;position:relative;width:90%;height:32px;background-color:#fff;border:1px solid #ddd;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
input, select {vertical-align:middle;}
input {border-radius:4px;outline:none;}
input.submit {width:10em;font:bold .95em Roboto,sans-serif;background:#6A7389;color:#fff;padding:1px 2px;margin:0 0 2px 0;border:1px solid #283043;border-color:#9097A2 #283043 #283043 #9097A2;}
form#adminForm p.button {padding:5px 0 0 0;}
/* =global nav pill tabs
----------------------------------------------- */
.controls {*zoom: 1;}
.controls {display:block;float:right;width:auto;margin-top:5px;padding-left:20px;font-size:.8em;}
.controls a {text-decoration:none;margin-right:2px;margin-top:2px;margin-bottom:2px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:8px 12px;}
.controls a:hover {text-decoration:underline; background-color: #ddd;}
.controls a.active, .controls a.active > a:hover {text-decoration: none; background-color: #ddd;}

/* =miscellaneous and special global settings
----------------------------------------------- */
.button {background-color:#207cca;border:1px solid #207cca;color:#fafafa;/*left:-8px;*/padding:8px 15px;/*position:relative;*/}
.button:hover {background-color:#fafafa;color:#207cca;}
.contact::before {content: "\0040\ ";font-size:1.1em;}
.download::before {content: "\21E3\ ";font-size:1.3em;}
.embed {color:#666;font-family:"Courier New", Courier, monospace;font-weight:700;}
.embed::before {content: "\003C";}
.embed::after {content: "\003E";}
.expand::before {content: "\271A\ ";color:#666;font-size:1em;}
.permalink::before {content: "\221E\ ";font-size:1.35em;}
.quality::before {content: "\2750\ ";font-size:1.35em;color:#480;}
.share::before {content: "\271A\ ";font-size:1.2em;color:#390;}
/* =container
----------------------------------------------- */
section {padding:10px;}
/* =header
----------------------------------------------- */
header[role=banner] {background:none;border-bottom:none;height:auto;position:static;width:100%;}
#sectionHeading {font-size: 1.5em;padding: 10px 0 10px 0;background: none;}
/* =main
----------------------------------------------- */
.grid {list-style:none;text-align:left;margin:0;padding:0;}
.grid li p {font-size:.9em;margin:0;padding:0 0 3px 0;}
.grid li a {position:relative;font-size:14px;}
.grid li a span {position:absolute;bottom:20%;right:1%;color:#fff;font-size:.8em;font-weight:600;padding:0 2px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:rgb(23,25,28);background:rgba(23,25,28,.5);}
.grid > li {display:inline-block;vertical-align:top;width:auto;}
.grid{border-spacing:10px;display:grid;grid-gap:25px 25px;grid-template-columns:repeat(3,1fr);/*justify-items:center;*/}
ul#listColumns {float:left;width:100%;min-width:1000px;margin:0 0 30px 0;padding:0 0 10px 0;list-style:none;text-align:left;}
ul#listColumns li {background-image:none;position:relative;float:left;width:45%;margin:0 20px 0 0;padding:0 .5em .5em 0;}
ul#listColumns li#search {position:relative;float:left;width:45%;margin:20px 20px 0 0;padding:0 .5em .5em 0;}
ul#listColumns li#browse {position:relative;float:right;width:45%;margin:0;padding:0;}
ul#block {float:left;width:100%;min-width:1000px;margin:0;padding:0;list-style:none;text-align:left;}
ul#block li {display:inline;display:inline-block;width:28%;margin:0;padding:10px;border-bottom:2px solid #f2f2f2;}
.info a[title] {font-size:1.3em;font-weight:bold;}
.item-container {position:relative;padding-bottom:56.25%;padding-top:35px;height:0;overflow:hidden;}
.item-container iframe {position: absolute;top:0;left:0;width:100%;height:100%;}

/* =footer
----------------------------------------------- */
footer {text-align:center;}
/* =RWD breakpoint styles
----------------------------------------------- */
/*medium screen view < 1030px (based on 16px browser default)*/
@media all and (max-width:64.375em) {
  .grid {grid-template-columns: repeat(2, 48%);}
  #sectionHeading {margin-top:-16px;font-size:1.4em;}
  ul#listColumns li {float:none;}
  ul#listColumns li#browse {float:none;}
  ul#listColumns li#search {float:none;}
}
/*small screen view < 801px (based on 16px browser default)*/
@media all and (max-width:50.063em) {
  .controls {float:none;padding-left:0;}
  .grid {grid-template-columns: repeat(1, 100%);}
  form#searchBox {width:80%;}
  .mainheading span {margin-bottom:15px;}
  #sectionHeading {font-size:1.3em;}
  ul#listColumns li {float:none;}
  ul#listColumns li#browse {float:none;}
  ul#listColumns li#search {float:none;}
}
